<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>
Hi , 
</p>
<p>
Some one is looking for you to locate a product/ Post/ Post Collection / Banner for them
<br>
<p style="color:#0000FF;">
Product id: 
</p>
http://shopick.co.in/admin/products/<%=@find.product_id%>
<br>


<p style="color:#0000FF;">
Post id: 
</p>
http://shopick.co.in/admin/posts/<%=@find.post_id%>
<br>


<p style="color:#0000FF;">
Banner id: 
</p>
http://shopick.co.in/admin/banners/<%=@find.banner_id%>
<br>

<p style="color:#0000FF;">
Post  Collection id: 
</p>
http://shopick.co.in/admin/post_collections/<%=@find.post_collection_id%>
<br>

<p style="color:#0000FF;">
User: 
</p>
http://shopick.co.in/admin/users/<%=@find.user_id%>
<br>

<p style="color:#0000FF;">
Phone Number: 
</p>
<%=@find.phoneno%>
<br>

<p style="color:#0000FF;">
Global Id: 
</p>
<%=@find.globalID%>
<br>

<p style="color:#0000FF;">
Image: 
</p>
<br>

<br>
<br>
<br>
<br>
Regards,
<br>
Shopick Mailer
<br>
#FindThis Mailer
<br>
SHOPICK - Keep Findings
<br>
  </body>
</html>